@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background: #000612;
  font-family: var(--font-poppins), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.gradient-background {
  background: linear-gradient(
    267.72deg,
    #af85e3 -8.75%,
    #8b94e2 24.5%,
    #6ff2f2 65.76%,
    #68e099 108.31%
  );
}

.hero-background {
  /* First layer: Complex dark gradient */
  background: linear-gradient(
    111.85deg,
    #000612 -7.21%,
    #181b1f 20.42%,
    #000612 27.56%,
    #181b1f 40.12%,
    #020814 44.84%,
    #171b25 52.83%,
    #000612 75.39%,
    #1f2229 81.83%,
    #000611 89.72%,
    #272c36 95.55%,
    #000612 113.39%
  );

  /* Second layer: Vertical gradient with transparency */
  background-image: linear-gradient(
      180deg,
      #000612 0%,
      rgba(0, 6, 18, 0.5) 51.1%,
      #000612 100%
    ),
    /* Actual dot pattern */
      radial-gradient(rgba(255, 255, 255, 0.308) 1px, transparent 1.5px);

  background-size: cover, /* First gradient */ 30px 30px; /* Dot size and spacing */

  background-position: 0 0, /* First gradient */ 0 0; /* Dot pattern */

  background-blend-mode: normal, /* First gradient */ overlay; /* Dot overlay */
}

.image-background {
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 820px;
}

.usecase-background {
  background-image: url("/usecasebg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 600px;
}

.getstarted-background {
  background-image: url("/getstarted.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  /* height: 800px; */
}

.walkthrough-bg {
  background-image: url("/walkthroughbg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 900px;
}

/* gradient-text-animation */
@layer components {
  .gradient-text-animation {
    background: linear-gradient(
      267.72deg,
      #af85e3 1.07%,
      #8b94e2 29.42%,
      #6ff2f2 64.59%,
      #68e099 100.87%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-animation 7s ease 1 normal forwards;
  }

  @keyframes gradient-animation {
    0% {
      color: white;
    }
    100% {
      color: transparent;
    }
  }
}

/* gradient-border-animation */
@layer components {
  .gradient-border-animation {
    animation: gradient-border 1.5s ease-in-out 1 normal forwards;
  }

  @keyframes gradient-border {
    0% {
      background: none;
    }
    10%{
      background: none;
    }
    20%{
      background: none;
    }
    30%{
      background: none;
    }
    40%{
      background: none;
    }
    50% {
      background: linear-gradient(
        30deg,
        #af85e3 9.12%,
        rgba(96, 73, 125, 0) 34.76%,
        rgba(96, 73, 125, 0) 65.49%,
        #68e099 95.14%
      );
    }
    60%{
      background: linear-gradient(
        60deg,
        #af85e3 9.12%,
        rgba(96, 73, 125, 0) 34.76%,
        rgba(96, 73, 125, 0) 65.49%,
        #68e099 95.14%
      );
    }
    70%{
      background: linear-gradient(
        90deg,
        #af85e3 9.12%,
        rgba(96, 73, 125, 0) 34.76%,
        rgba(96, 73, 125, 0) 65.49%,
        #68e099 95.14%
      );
    }
    80%{
      background: linear-gradient(
        120deg,
        #af85e3 9.12%,
        rgba(96, 73, 125, 0) 34.76%,
        rgba(96, 73, 125, 0) 65.49%,
        #68e099 95.14%
      );
    }
    90%{
      background: linear-gradient(
        150deg,
        #af85e3 9.12%,
        rgba(96, 73, 125, 0) 34.76%,
        rgba(96, 73, 125, 0) 65.49%,
        #68e099 95.14%
      );
    }
    100% {
      background: linear-gradient(
        150deg,
        #af85e3 9.12%,
        rgba(96, 73, 125, 0) 34.76%,
        rgba(96, 73, 125, 0) 65.49%,
        #68e099 95.14%
      );
    }
  }
}

/* gradient-bg-animation */
@layer components {
  .gradient-bg-animation {
    position: relative;
    background-color: #000612;
    animation: gradient-bg 1s ease 1 normal forwards;
  }

  .gradient-bg-animation::before {
    content: "";
    position: absolute;
    top: -39px;
    left: 6px;
    width: 100%;
    height: 130%;
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.308) 1px,
        transparent 1.5px
      ),
      radial-gradient(rgba(255, 255, 255, 0.308) 1px, transparent 1.5px);
    background-size: 30px 30px;
    background-position: 0 0;
    opacity: 0.15;
  }

  @keyframes gradient-bg {
    0% {
      background: none;
    }
    100% {
      background: #000612;
    }
  }
}

/* flowline 1 */
@layer components {
  .flow-line1 {
    background: linear-gradient(
      179.16deg,
      #3e3e3f -6.68%,
      #af85e3 1.2%,
      #8b94e2 22.17%,
      #6ff2f2 57.97%,
      #68e099 77.02%,
      #3e3e3f 94.9%
    );

    animation: flow-line1-animation 8s infinite;
  }

  @keyframes flow-line1-animation {
    0% {
      top: calc(10% + 90px);
      left: calc(27% + 44px);
      width: 3px;
      height: 25px;
    }
    50% {
      top: calc(47% + 25px);
      left: calc(27% + 44px);
      width: 3px;
      height: 25px;
    }
    51% {
      top: calc(47% + 43px);
      left: calc(27% + 44px);
      width: 25px;
      height: 3px;
    }
    100% {
      top: calc(47% + 43px);
      left: calc(47% - 25px);
      width: 25px;
      height: 3px;
    }
  }
}

/* flowline 2 */
@layer components {
  .flow-line2 {
    background: linear-gradient(
      179.16deg,
      #3e3e3f -6.68%,
      #af85e3 1.2%,
      #8b94e2 22.17%,
      #6ff2f2 57.97%,
      #68e099 77.02%,
      #3e3e3f 94.9%
    );

    animation: flow-line2-animation 8s infinite;
  }

  @keyframes flow-line2-animation {
    0% {
      top: calc(15% + 90px);
      left: calc(67% + 44px);
      width: 3px;
      height: 25px;
    }
    50% {
      top: calc(47% + 25px);
      left: calc(67% + 44px);
      width: 3px;
      height: 25px;
    }
    51% {
      top: calc(47% + 43px);
      left: calc(67% + 30px);
      width: 25px;
      height: 3px;
    }
    100% {
      top: calc(47% + 43px);
      left: calc(47% + 90px);
      width: 25px;
      height: 3px;
    }
  }
}

/* flowline 3 */
@layer components {
  .flow-line3 {
    background: linear-gradient(
      90deg,
      #3e3e3f -6.68%,
      #af85e3 1.2%,
      #8b94e2 22.17%,
      #6ff2f2 57.97%,
      #68e099 77.02%,
      #3e3e3f 94.9%
    );

    animation: flow-line3-animation 8s infinite;
  }

  @keyframes flow-line3-animation {
    0% {
      top: calc(47% + 43px);
      left: calc(7% + 90px);
      width: 25px;
      height: 3px;
    }

    50% {
      top: calc(47% + 43px);
      left: calc(27% + 29px);
      width: 25px;
      height: 3px;
    }

    100% {
      top: calc(47% + 43px);
      left: calc(47% - 22px);
      width: 25px;
      height: 3px;
    }
  }
}

/* flowline 4 */
@layer components {
  .flow-line4 {
    background: linear-gradient(
      90deg,
      #3e3e3f -6.68%,
      #af85e3 1.2%,
      #8b94e2 22.17%,
      #6ff2f2 57.97%,
      #68e099 77.02%,
      #3e3e3f 94.9%
    );

    animation: flow-line4-animation 8s infinite;
  }

  @keyframes flow-line4-animation {
    0% {
      top: calc(47% + 43px);
      left: calc(87% - 25px);
      width: 25px;
      height: 3px;
    }
    50% {
      top: calc(47% + 43px);
      left: calc(67% + 40px);
      width: 25px;
      height: 3px;
    }
    100% {
      top: calc(47% + 43px);
      left: calc(47% + 90px);
      width: 25px;
      height: 3px;
    }
  }
}

/* flowline 5 */
@layer components {
  .flow-line5 {
    background: linear-gradient(
      179.16deg,
      #3e3e3f -6.68%,
      #af85e3 1.2%,
      #8b94e2 22.17%,
      #6ff2f2 57.97%,
      #68e099 77.02%,
      #3e3e3f 94.9%
    );

    animation: flow-line5-animation 8s infinite;
  }

  @keyframes flow-line5-animation {
    0% {
      top: calc(85% - 25px);
      left: calc(27% + 44px);
      width: 3px;
      height: 25px;
    }
    50% {
      top: calc(47% + 43px);
      left: calc(27% + 44px);
      width: 3px;
      height: 25px;
    }
    51% {
      top: calc(47% + 43px);
      left: calc(27% + 44px);
      width: 25px;
      height: 3px;
    }
    100% {
      top: calc(47% + 43px);
      left: calc(47% - 25px);
      width: 25px;
      height: 3px;
    }
  }
}

/* flowline 6 */
@layer components {
  .flow-line6 {
    background: linear-gradient(
      179.16deg,
      #3e3e3f -6.68%,
      #af85e3 1.2%,
      #8b94e2 22.17%,
      #6ff2f2 57.97%,
      #68e099 77.02%,
      #3e3e3f 94.9%
    );

    animation: flow-line6-animation 8s infinite;
  }

  @keyframes flow-line6-animation {
    0% {
      top: calc(90% - 25px);
      left: calc(67% + 44px);
      width: 3px;
      height: 25px;
    }
    50% {
      top: calc(47% + 43px);
      left: calc(67% + 44px);
      width: 3px;
      height: 25px;
    }
    51% {
      top: calc(47% + 43px);
      left: calc(67% + 30px);
      width: 25px;
      height: 3px;
    }
    100% {
      top: calc(47% + 43px);
      left: calc(47% + 90px);
      width: 25px;
      height: 3px;
    }
  }
}

/* auto-scroll animation */
@layer components {
  .auto-scroll {
    animation: loop-scroll 10s linear infinite;
    /* Default state: animation plays */
    transition: animation-play-state 0.3s ease;
  }

  .auto-scroll:hover {
    /* Pause the animation when hovered */
    animation-play-state: paused;
  }

  @keyframes loop-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-95%);
    }
  }
}

.bg-border-gradient1 {
  background: linear-gradient(
    130deg,
    rgba(175, 133, 227, 1) 0%,
    rgba(175, 133, 227, 0) 20%,
    rgba(175, 133, 227, 0) 80%,
    rgba(175, 133, 227, 1) 100%
  );
}

.bg-border-gradient2 {
  background: linear-gradient(
    130deg,
    rgba(111, 242, 242, 1) 0%,
    rgba(111, 242, 242, 0) 20%,
    rgba(111, 242, 242, 0) 80%,
    rgba(111, 242, 242, 1) 100%
  );
}

.bg-border-gradient3 {
  background: linear-gradient(
    130deg,
    rgba(104, 224, 153, 1) 0%,
    rgba(104, 224, 153, 0) 20%,
    rgba(104, 224, 153, 0) 80%,
    rgba(104, 224, 153, 1) 100%
  );
}

/* flowline design2 line 2 */
@layer components {
  .flow2 {
    background: linear-gradient(
      267.72deg,
      #af85e3 -8.75%,
      #8b94e2 24.5%,
      #6ff2f2 65.76%,
      #68e099 108.31%
    );

    animation: flow2-animation 6s infinite;
  }

  @keyframes flow2-animation {
    0% {
      left: calc(10% + 280px);
    }
    100% {
      left: calc(51%);
    }
  }
}

/* flowline design2 line 1 */
@layer components {
  .flow1 {
    background: linear-gradient(
      180deg,
      #af85e3 -8.75%,
      #8b94e2 24.5%,
      #6ff2f2 65.76%,
      #68e099 108.31%
    );

    animation: flow1-animation 6s 2s infinite;
  }

  @keyframes flow1-animation {
    0% {
      bottom: 59%;
    }
    90% {
      bottom: 76.5%;
    }
    100% {
      bottom: 73.5%;
      opacity: 0;
    }
  }
}

@layer components {
  .flow1curvedown {
    animation: curve1 6s 1s infinite;
  }

  @keyframes curve1 {
    0% {
      border-color: #af85e3;
    }
    10% {
      border-color: #68e099;
    }
    25% {
      border-color: #9c9c9ccc;
    }
    100% {
      border-color: #9c9c9ccc;
    }
  }
}

@layer components {
  .flow1curveup {
    animation: curve2 6s 4.9s infinite;
  }

  @keyframes curve2 {
    0% {
      border-color: #af85e3;
    }
    10% {
      border-color: #af85e3;
    }
    51% {
      border-color: #9c9c9ccc;
    }
    100% {
      border-color: #9c9c9ccc;
    }
  }
}

/* flowline design2 line 3 */
@layer components {
  .flow3 {
    background: linear-gradient(
      360deg,
      #af85e3 -8.75%,
      #8b94e2 24.5%,
      #6ff2f2 65.76%,
      #68e099 108.31%
    );

    animation: flow3-animation 6s 1.5s infinite;
  }

  @keyframes flow3-animation {
    0% {
      bottom: 36%;
    }
    90% {
      bottom: 20%;
    }
    100% {
      bottom: 20%;
      opacity: 0;
    }
  }
}

@layer components {
  .flow3curveup {
    animation: curve-1 6s 1s infinite;
  }

  @keyframes curve-1 {
    0% {
      border-color: #af85e3;
    }
    10% {
      border-color: #68e099;
    }
    25% {
      border-color: #9c9c9ccc;
    }
    100% {
      border-color: #9c9c9ccc;
    }
  }
}

@layer components {
  .flow3curvedown {
    animation: curve-2 6s 4.9s infinite;
  }

  @keyframes curve-2 {
    0% {
      border-color: #af85e3;
    }
    10% {
      border-color: #af85e3;
    }
    51% {
      border-color: #9c9c9ccc;
    }
    100% {
      border-color: #9c9c9ccc;
    }
  }
}

/* navbar line animation */
.hover-effect {
  position: relative;
  display: inline-block;
}

.hover-effect::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px; /* Thickness of the underline */
  background: linear-gradient(
    267.72deg,
    #af85e3 -8.75%,
    #8b94e2 24.5%,
    #6ff2f2 65.76%,
    #68e099 108.31%
  );
  transition: all 0.4s ease-out;
  transform: translateX(-50%); /* Start from center */
}

.hover-effect:hover::after {
  width: 100%; /* Expand to full width */
}

/* home section button hover animation */
@layer components {
  .right-arrow {
    display: inline-block; /* Ensures the element takes space */
    animation: slide-in-left 0.5s forwards; /* Animation triggers when hovered */
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-10px); /* Start off-screen */
    }
    100% {
      transform: translateX(0); /* Slide into position */
    }
  }
}
