@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --font-poppins: "Poppins", sans-serif;
} */

html,
body {
  font-family: var(--font-league-spartan) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background: #000612;
  font-family: var(--font-poppins), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.gradient-background {
  background: linear-gradient(
    267.72deg,
    #af85e3 -8.75%,
    #8b94e2 24.5%,
    #6ff2f2 65.76%,
    #68e099 108.31%
  );
}

.hero-background {
  /* First layer: Complex dark gradient */
  background: linear-gradient(
    111.85deg,
    #000612 -7.21%,
    #181b1f 20.42%,
    #000612 27.56%,
    #181b1f 40.12%,
    #020814 44.84%,
    #171b25 52.83%,
    #000612 75.39%,
    #1f2229 81.83%,
    #000611 89.72%,
    #272c36 95.55%,
    #000612 113.39%
  );

  /* Second layer: Vertical gradient with transparency */
  background-image: linear-gradient(
      180deg,
      #000612 0%,
      rgba(0, 6, 18, 0.5) 51.1%,
      #000612 100%
    ),
    /* Actual dot pattern */
      radial-gradient(rgba(255, 255, 255, 0.308) 1px, transparent 1.5px);

  background-size: cover, /* First gradient */ 30px 30px; /* Dot size and spacing */

  background-position: 0 0, /* First gradient */ 0 0; /* Dot pattern */

  background-blend-mode: normal, /* First gradient */ overlay; /* Dot overlay */
}

.image-background {
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 820px;
}
@media (max-width: 1024px) {
  .image-background {
    height: 620px;
  }
}

@media (max-width: 900px) {
  .image-background {
    height: 520px;
  }
}

@media (max-width: 500px) {
  .image-background {
    height: 420px;
  }
}

.usecase-background {
  background-image: url("/usecasebg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 600px;
}

@media (min-width: 1440px) {
  .usecase-background {
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 600px;
  }
}

.getstarted-background {
  background-image: url("/getstarted.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

/* usecase component */
.bg-border-gradient1 {
  background: linear-gradient(
    130deg,
    rgba(175, 133, 227, 1) 0%,
    rgba(175, 133, 227, 0) 20%,
    rgba(175, 133, 227, 0) 80%,
    rgba(175, 133, 227, 1) 100%
  );
}

.bg-border-gradient2 {
  background: linear-gradient(
    130deg,
    rgba(111, 242, 242, 1) 0%,
    rgba(111, 242, 242, 0) 20%,
    rgba(111, 242, 242, 0) 80%,
    rgba(111, 242, 242, 1) 100%
  );
}

.bg-border-gradient3 {
  background: linear-gradient(
    130deg,
    rgba(104, 224, 153, 1) 0%,
    rgba(104, 224, 153, 0) 20%,
    rgba(104, 224, 153, 0) 80%,
    rgba(104, 224, 153, 1) 100%
  );
}

.walkthrough-bg {
  background-image: url("/walkthroughbg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 900px;
}

.gradient-1 {
  background: linear-gradient(
      318.89deg,
      #6ff2f2 12.35%,
      rgba(111, 242, 242, 0) 32.35%
    ),
    linear-gradient(133.75deg, #6ff2f2 13.61%, rgba(111, 242, 242, 0) 33.42%);
}

.gradient-2 {
  background: linear-gradient(
      318.89deg,
      #af85e3 12.35%,
      rgba(96, 73, 125, 0) 32.35%
    ),
    linear-gradient(133.75deg, #af85e3 13.61%, rgba(96, 73, 125, 0) 33.42%);
}

.gradient-3 {
  background: linear-gradient(
      318.89deg,
      #68e099 12.35%,
      rgba(104, 224, 153, 0) 32.35%
    ),
    linear-gradient(133.75deg, #68e099 13.61%, rgba(104, 224, 153, 0) 33.42%);
}

/* gradient-text-animation */
@layer components {
  .gradient-text-animation {
    background: linear-gradient(
      267.72deg,
      #af85e3 1.07%,
      #8b94e2 29.42%,
      #6ff2f2 64.59%,
      #68e099 100.87%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-animation 7s ease 1 normal forwards;
  }

  @keyframes gradient-animation {
    0% {
      color: white;
    }
    100% {
      color: transparent;
    }
  }
}

/* gradient-border-animation */
@layer components {
  .gradient-border-animation {
    animation: gradient-border 1.5s ease-in-out 1 normal forwards;
  }

  @keyframes gradient-border {
    0% {
      background: none;
    }
    10% {
      background: none;
    }
    20% {
      background: none;
    }
    30% {
      background: none;
    }
    40% {
      background: none;
    }
    50% {
      background: linear-gradient(
        30deg,
        #af85e3 9.12%,
        rgba(96, 73, 125, 0) 34.76%,
        rgba(96, 73, 125, 0) 65.49%,
        #68e099 95.14%
      );
    }
    60% {
      background: linear-gradient(
        60deg,
        #af85e3 9.12%,
        rgba(96, 73, 125, 0) 34.76%,
        rgba(96, 73, 125, 0) 65.49%,
        #68e099 95.14%
      );
    }
    70% {
      background: linear-gradient(
        90deg,
        #af85e3 9.12%,
        rgba(96, 73, 125, 0) 34.76%,
        rgba(96, 73, 125, 0) 65.49%,
        #68e099 95.14%
      );
    }
    80% {
      background: linear-gradient(
        120deg,
        #af85e3 9.12%,
        rgba(96, 73, 125, 0) 34.76%,
        rgba(96, 73, 125, 0) 65.49%,
        #68e099 95.14%
      );
    }
    90% {
      background: linear-gradient(
        150deg,
        #af85e3 9.12%,
        rgba(96, 73, 125, 0) 34.76%,
        rgba(96, 73, 125, 0) 65.49%,
        #68e099 95.14%
      );
    }
    100% {
      background: linear-gradient(
        150deg,
        #af85e3 9.12%,
        rgba(96, 73, 125, 0) 34.76%,
        rgba(96, 73, 125, 0) 65.49%,
        #68e099 95.14%
      );
    }
  }
}

/* gradient-bg-animation */
@layer components {
  .gradient-bg-animation {
    position: relative;
    background-color: #000612;
    animation: gradient-bg 1s ease 1 normal forwards;
  }

  .gradient-bg-animation::before {
    content: "";
    position: absolute;
    top: -39px;
    left: 6px;
    width: 100%;
    height: 130%;
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.308) 1px,
        transparent 1.5px
      ),
      radial-gradient(rgba(255, 255, 255, 0.308) 1px, transparent 1.5px);
    background-size: 30px 30px;
    background-position: 0 0;
    opacity: 0.15;
  }

  @keyframes gradient-bg {
    0% {
      background: none;
    }
    100% {
      background: #000612;
    }
  }
}

/* flowline 1 */
.flow-line1 {
  background: linear-gradient(
    179.16deg,
    #3e3e3f -6.68%,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%
  );
  animation: flow-line1-animation 8s infinite;
}

@keyframes flow-line1-animation {
  0% {
    top: calc(10% + 90px);
    left: calc(27% + 45px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47%);
    left: calc(27% + 45px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 45px);
    left: calc(27% + 45px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 45px);
    left: calc(27% + 45px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 1024px) {
  .flow-line1 {
    animation: flow-line1-animation-bw 8s infinite;
  }
}

@keyframes flow-line1-animation-bw {
  0% {
    top: calc(10% + 90px);
    left: calc(27% + 40px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47%);
    left: calc(27% + 40px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 45px);
    left: calc(27% + 40px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 45px);
    left: calc(27% + 40px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 900px) {
  .flow-line1 {
    animation: flow-line1-animation-md 8s infinite;
  }
}

@keyframes flow-line1-animation-md {
  0% {
    top: calc(12% + 90px);
    left: calc(27% + 35px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% - 10px);
    left: calc(27% + 35px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 35px);
    left: calc(27% + 35px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 35px);
    left: calc(27% + 35px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 768px) {
  .flow-line1 {
    animation: flow-line1-animation-sm 8s infinite;
  }
}

@keyframes flow-line1-animation-sm {
  0% {
    top: calc(13% + 90px);
    left: calc(27% + 30px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% - 10px);
    left: calc(27% + 30px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 35px);
    left: calc(27% + 30px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 35px);
    left: calc(27% + 30px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 640px) {
  .flow-line1 {
    animation: flow-line1-animation-xs 8s infinite;
  }
}

@keyframes flow-line1-animation-xs {
  0% {
    top: calc(13% + 90px);
    left: calc(27% + 25px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% - 20px);
    left: calc(27% + 25px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 25px);
    left: calc(27% + 25px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 25px);
    left: calc(27% + 25px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 500px) {
  .flow-line1 {
    animation: flow-line1-animation-2xs 8s infinite;
  }
}

@keyframes flow-line1-animation-2xs {
  0% {
    top: calc(18% + 90px);
    left: calc(27% + 25px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% - 20px);
    left: calc(27% + 25px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 25px);
    left: calc(27% + 25px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 25px);
    left: calc(27% + 25px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 450px) {
  .flow-line1 {
    animation: flow-line1-animation-3xs 8s infinite;
  }
}

@keyframes flow-line1-animation-3xs {
  0% {
    top: calc(18% + 90px);
    left: calc(27% + 22px);
    width: 3px;
    height: 30px;
  }
  31.25% {
    top: calc(47%);
    left: calc(27% + 22px);
    width: 3px;
    height: 30px;
  }
  35% {
    top: calc(47% + 25px);
    left: calc(27% + 22px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 25px);
    left: calc(27% + 22px);
    width: 3px;
    height: 0px;
  }
}

/* flowline 2 */
.flow-line2 {
  background: linear-gradient(
    179.16deg,
    #3e3e3f -6.68%,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%
  );
  animation: flow-line2-animation 8s infinite;
}

@keyframes flow-line2-animation {
  0% {
    top: calc(15% + 90px);
    left: calc(67% + 45px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47%);
    left: calc(67% + 45px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 45px);
    left: calc(67% + 45px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 45px);
    left: calc(67% + 45px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 1024px) {
  .flow-line2 {
    animation: flow-line2-animation-bw 8s infinite;
  }
}

@keyframes flow-line2-animation-bw {
  0% {
    top: calc(15% + 90px);
    left: calc(67% + 40px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47%);
    left: calc(67% + 40px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 45px);
    left: calc(67% + 40px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 45px);
    left: calc(67% + 40px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 900px) {
  .flow-line2 {
    animation: flow-line2-animation-md 8s infinite;
  }
}

@keyframes flow-line2-animation-md {
  0% {
    top: calc(17% + 90px);
    left: calc(67% + 35px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% - 10px);
    left: calc(67% + 35px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 35px);
    left: calc(67% + 35px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 35px);
    left: calc(67% + 35px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 768px) {
  .flow-line2 {
    animation: flow-line2-animation-sm 8s infinite;
  }
}

@keyframes flow-line2-animation-sm {
  0% {
    top: calc(17% + 90px);
    left: calc(67% + 30px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% - 5px);
    left: calc(67% + 30px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 30px);
    left: calc(67% + 30px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 30px);
    left: calc(67% + 30px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 640px) {
  .flow-line2 {
    animation: flow-line2-animation-xs 8s infinite;
  }
}

@keyframes flow-line2-animation-xs {
  0% {
    top: calc(19% + 90px);
    left: calc(67% + 25px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% - 20px);
    left: calc(67% + 25px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 25px);
    left: calc(67% + 25px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 25px);
    left: calc(67% + 25px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 500px) {
  .flow-line2 {
    animation: flow-line2-animation-2xs 8s infinite;
  }
}

@keyframes flow-line2-animation-2xs {
  0% {
    top: calc(22% + 90px);
    left: calc(67% + 25px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% - 20px);
    left: calc(67% + 25px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 25px);
    left: calc(67% + 25px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 25px);
    left: calc(67% + 25px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 450px) {
  .flow-line2 {
    animation: flow-line2-animation-3xs 8s infinite;
  }
}

@keyframes flow-line2-animation-3xs {
  0% {
    top: calc(22% + 90px);
    left: calc(67% + 22px);
    width: 3px;
    height: 30px;
  }
  31.25% {
    top: calc(47%);
    left: calc(67% + 22px);
    width: 3px;
    height: 30px;
  }
  35% {
    top: calc(47% + 25px);
    left: calc(67% + 22px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 25px);
    left: calc(67% + 22px);
    width: 3px;
    height: 0px;
  }
}

/* flowline 3 */
.flow-line3 {
  background: linear-gradient(
    90deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );

  animation: flow-line3-animation 8s infinite;
}

@keyframes flow-line3-animation {
  0% {
    top: calc(47% + 44.5px);
    left: calc(7% + 90px);
    width: 50px;
    height: 3px;
  }

  31.25% {
    top: calc(47% + 44.5px);
    left: calc(27% - 4px);
  }

  90% {
    top: calc(47% + 44.5px);
    left: calc(47% - 50px);
    width: 50px;
    height: 3px;
  }

  100% {
    top: calc(47% + 44.5px);
    left: calc(47%);
    width: 0px;
    height: 3px;
  }
}

@media (max-width: 1024px) {
  .flow-line3 {
    animation: flow-line3-animation-bw 8s infinite;
  }
}

@keyframes flow-line3-animation-bw {
  0% {
    top: calc(47% + 40px);
    left: calc(7% + 90px);
    width: 50px;
    height: 3px;
  }

  31.25% {
    top: calc(47% + 40px);
    left: calc(27% - 4px);
  }

  90% {
    top: calc(47% + 40px);
    left: calc(47% - 50px);
    width: 50px;
    height: 3px;
  }

  100% {
    top: calc(47% + 40px);
    left: calc(47%);
    width: 0px;
    height: 3px;
  }
}

@media (max-width: 900px) {
  .flow-line3 {
    animation: flow-line3-animation-md 8s infinite;
  }
}

@keyframes flow-line3-animation-md {
  0% {
    top: calc(47% + 35px);
    left: calc(7% + 70px);
    width: 50px;
    height: 3px;
  }

  31.25% {
    top: calc(47% + 35px);
    left: calc(27% - 9px);
  }

  90% {
    top: calc(47% + 35px);
    left: calc(47% - 50px);
    width: 50px;
    height: 3px;
  }

  100% {
    top: calc(47% + 35px);
    left: calc(47%);
    width: 0px;
    height: 3px;
  }
}

@media (max-width: 768px) {
  .flow-line3 {
    animation: flow-line3-animation-sm 8s infinite;
  }
}

@keyframes flow-line3-animation-sm {
  0% {
    top: calc(47% + 30px);
    left: calc(7% + 60px);
    width: 50px;
    height: 3px;
  }

  31.25% {
    top: calc(47% + 30px);
    left: calc(27% - 18px);
  }

  90% {
    top: calc(47% + 30px);
    left: calc(47% - 50px);
    width: 50px;
    height: 3px;
  }

  100% {
    top: calc(47% + 30px);
    left: calc(47%);
    width: 0px;
    height: 3px;
  }
}

@media (max-width: 640px) {
  .flow-line3 {
    animation: flow-line3-animation-xs 8s infinite;
  }
}

@keyframes flow-line3-animation-xs {
  0% {
    top: calc(47% + 25px);
    left: calc(7% + 52px);
    width: 50px;
    height: 3px;
  }

  31.25% {
    top: calc(47% + 25px);
    left: calc(27% - 20px);
  }

  90% {
    top: calc(47% + 25px);
    left: calc(47% - 50px);
    width: 50px;
    height: 3px;
  }

  100% {
    top: calc(47% + 25px);
    left: calc(47%);
    width: 0px;
    height: 3px;
  }
}

@media (max-width: 450px) {
  .flow-line3 {
    animation: flow-line3-animation-2xs 8s infinite;
  }
}

@keyframes flow-line3-animation-2xs {
  0% {
    top: calc(47% + 23px);
    left: calc(7% + 45px);
    width: 20px;
    height: 3px;
  }

  31.25% {
    top: calc(47% + 23px);
    left: calc(27% + 5px);
  }

  90% {
    top: calc(47% + 23px);
    left: calc(47% - 20px);
    width: 20px;
    height: 3px;
  }

  100% {
    top: calc(47% + 23px);
    left: calc(47%);
    width: 0px;
    height: 3px;
  }
}

/* flowline 4 */
.flow-line4 {
  background: linear-gradient(
    270deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );

  animation: flow-line4-animation 8s infinite;
}

@keyframes flow-line4-animation {
  0% {
    top: calc(47% + 44.5px);
    left: calc(87% - 50px);
    width: 50px;
    height: 3px;
  }
  31.25% {
    top: calc(47% + 44.5px);
    left: calc(67% + 45px);
  }
  90% {
    top: calc(47% + 44.5px);
    left: calc(47% + 90px);
    width: 50px;
    height: 3px;
  }
  100% {
    top: calc(47% + 44.5px);
    left: calc(47% + 90px);
    width: 0px;
    height: 3px;
  }
}

@media (max-width: 1024px) {
  .flow-line4 {
    animation: flow-line4-animation-bw 8s infinite;
  }
}

@keyframes flow-line4-animation-bw {
  0% {
    top: calc(47% + 40px);
    left: calc(87% - 50px);
    width: 50px;
    height: 3px;
  }
  31.25% {
    top: calc(47% + 40px);
    left: calc(67% + 40px);
  }
  90% {
    top: calc(47% + 40px);
    left: calc(47% + 80px);
    width: 50px;
    height: 3px;
  }
  100% {
    top: calc(47% + 40px);
    left: calc(47% + 80px);
    width: 0px;
    height: 3px;
  }
}

@media (max-width: 900px) {
  .flow-line4 {
    animation: flow-line4-animation-md 8s infinite;
  }
}

@keyframes flow-line4-animation-md {
  0% {
    top: calc(47% + 35px);
    left: calc(87% - 50px);
    width: 50px;
    height: 3px;
  }
  31.25% {
    top: calc(47% + 35px);
    left: calc(67% + 35px);
  }
  90% {
    top: calc(47% + 35px);
    left: calc(47% + 70px);
    width: 50px;
    height: 3px;
  }
  100% {
    top: calc(47% + 35px);
    left: calc(47% + 70px);
    width: 0px;
    height: 3px;
  }
}

@media (max-width: 768px) {
  .flow-line4 {
    animation: flow-line4-animation-sm 8s infinite;
  }
}

@keyframes flow-line4-animation-sm {
  0% {
    top: calc(47% + 30px);
    left: calc(87% - 50px);
    width: 50px;
    height: 3px;
  }
  31.25% {
    top: calc(47% + 30px);
    left: calc(67% + 29px);
  }
  90% {
    top: calc(47% + 30px);
    left: calc(47% + 60px);
    width: 50px;
    height: 3px;
  }
  100% {
    top: calc(47% + 30px);
    left: calc(47% + 60px);
    width: 0px;
    height: 3px;
  }
}

@media (max-width: 640px) {
  .flow-line4 {
    animation: flow-line4-animation-2xs 8s infinite;
  }
}

@keyframes flow-line4-animation-2xs {
  0% {
    top: calc(47% + 25px);
    left: calc(87% - 50px);
    width: 50px;
    height: 3px;
  }
  31.25% {
    top: calc(47% + 25px);
    left: calc(67% + 25px);
  }
  90% {
    top: calc(47% + 25px);
    left: calc(47% + 50px);
    width: 50px;
    height: 3px;
  }
  100% {
    top: calc(47% + 25px);
    left: calc(47% + 50px);
    width: 0px;
    height: 3px;
  }
}

@media (max-width: 450px) {
  .flow-line4 {
    animation: flow-line4-animation-3xs 8s infinite;
  }
}

@keyframes flow-line4-animation-3xs {
  0% {
    top: calc(47% + 22px);
    left: calc(87% - 30px);
    width: 30px;
    height: 3px;
  }
  31.25% {
    top: calc(47% + 22px);
    left: calc(67% + 22px);
  }
  90% {
    top: calc(47% + 22px);
    left: calc(47% + 45px);
    width: 30px;
    height: 3px;
  }
  100% {
    top: calc(47% + 22px);
    left: calc(47% + 45px);
    width: 0px;
    height: 3px;
  }
}

/* flowline 5 */
.flow-line5 {
  background: linear-gradient(
    360deg,
    #3e3e3f -6.68%,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 87.02%,
    #68e099 94.9%
  );

  animation: flow-line5-animation 8s infinite;
}

@keyframes flow-line5-animation {
  0% {
    top: calc(85% - 50px);
    left: calc(27% + 45px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% + 43px);
    left: calc(27% + 45px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 43px);
    left: calc(27% + 45px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 43px);
    left: calc(27% + 45px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 1024px) {
  .flow-line5 {
    animation: flow-line5-animation-bw 8s infinite;
  }
}

@keyframes flow-line5-animation-bw {
  0% {
    top: calc(87% - 70px);
    left: calc(27% + 40px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% + 40px);
    left: calc(27% + 40px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 40px);
    left: calc(27% + 40px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 40px);
    left: calc(27% + 40px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 900px) {
  .flow-line5 {
    animation: flow-line5-animation-md 8s infinite;
  }
}

@keyframes flow-line5-animation-md {
  0% {
    top: calc(83% - 70px);
    left: calc(27% + 35px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% + 35px);
    left: calc(27% + 35px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 35px);
    left: calc(27% + 35px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 35px);
    left: calc(27% + 35px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 768px) {
  .flow-line5 {
    animation: flow-line5-animation-sm 8s infinite;
  }
}

@keyframes flow-line5-animation-sm {
  0% {
    top: calc(80% - 70px);
    left: calc(27% + 30px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% + 25px);
    left: calc(27% + 30px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 25px);
    left: calc(27% + 30px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 25px);
    left: calc(27% + 30px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 640px) {
  .flow-line5 {
    animation: flow-line5-animation-xs 8s infinite;
  }
}

@keyframes flow-line5-animation-xs {
  0% {
    top: calc(76% - 70px);
    left: calc(27% + 25px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% + 25px);
    left: calc(27% + 25px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 25px);
    left: calc(27% + 25px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 25px);
    left: calc(27% + 25px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 500px) {
  .flow-line5 {
    animation: flow-line5-animation-2xs 8s infinite;
  }
}

@keyframes flow-line5-animation-2xs {
  0% {
    top: calc(71% - 70px);
    left: calc(27% + 25px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% + 25px);
    left: calc(27% + 25px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 25px);
    left: calc(27% + 25px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 25px);
    left: calc(27% + 25px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 500px) {
  .flow-line5 {
    animation: flow-line5-animation-3xs 8s infinite;
  }
}

@keyframes flow-line5-animation-3xs {
  0% {
    top: calc(71% - 50px);
    left: calc(27% + 22px);
    width: 3px;
    height: 30px;
  }
  31.25% {
    top: calc(47% + 25px);
    left: calc(27% + 22px);
    width: 3px;
    height: 30px;
  }
  35% {
    top: calc(47% + 25px);
    left: calc(27% + 22px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 25px);
    left: calc(27% + 22px);
    width: 3px;
    height: 0px;
  }
}

/* flowline 6 */
.flow-line6 {
  background: linear-gradient(
    360deg,
    #3e3e3f -6.68%,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 87.02%,
    #68e099 94.9%
  );

  animation: flow-line6-animation 8s infinite;
}

@keyframes flow-line6-animation {
  0% {
    top: calc(90% - 40px);
    left: calc(67% + 45px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% + 43px);
    left: calc(67% + 45px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 43px);
    left: calc(67% + 45px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 43px);
    left: calc(67% + 45px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 1024px) {
  .flow-line6 {
    animation: flow-line6-animation-bw 8s infinite;
  }
}

@keyframes flow-line6-animation-bw {
  0% {
    top: calc(87% - 40px);
    left: calc(67% + 40px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% + 37px);
    left: calc(67% + 40px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 43px);
    left: calc(67% + 40px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 43px);
    left: calc(67% + 40px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 900px) {
  .flow-line6 {
    animation: flow-line6-animation-md 8s infinite;
  }
}

@keyframes flow-line6-animation-md {
  0% {
    top: calc(83% - 40px);
    left: calc(67% + 35px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% + 35px);
    left: calc(67% + 35px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 35px);
    left: calc(67% + 35px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 35px);
    left: calc(67% + 35px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 768px) {
  .flow-line6 {
    animation: flow-line6-animation-sm 8s infinite;
  }
}

@keyframes flow-line6-animation-sm {
  0% {
    top: calc(80% - 40px);
    left: calc(67% + 30px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% + 20px);
    left: calc(67% + 30px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 20px);
    left: calc(67% + 30px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 20px);
    left: calc(67% + 30px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 640px) {
  .flow-line6 {
    animation: flow-line6-animation-xs 8s infinite;
  }
}

@keyframes flow-line6-animation-xs {
  0% {
    top: calc(76% - 40px);
    left: calc(67% + 25px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% + 20px);
    left: calc(67% + 25px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 20px);
    left: calc(67% + 25px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 20px);
    left: calc(67% + 25px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 500px) {
  .flow-line6 {
    animation: flow-line6-animation-2xs 8s infinite;
  }
}

@keyframes flow-line6-animation-2xs {
  0% {
    top: calc(72% - 40px);
    left: calc(67% + 25px);
    width: 3px;
    height: 50px;
  }
  31.25% {
    top: calc(47% + 20px);
    left: calc(67% + 25px);
    width: 3px;
    height: 50px;
  }
  35% {
    top: calc(47% + 20px);
    left: calc(67% + 25px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 20px);
    left: calc(67% + 25px);
    width: 3px;
    height: 0px;
  }
}

@media (max-width: 500px) {
  .flow-line6 {
    animation: flow-line6-animation-3xs 8s infinite;
  }
}

@keyframes flow-line6-animation-3xs {
  0% {
    top: calc(72% - 20px);
    left: calc(67% + 22px);
    width: 3px;
    height: 30px;
  }
  31.25% {
    top: calc(47% + 20px);
    left: calc(67% + 22px);
    width: 3px;
    height: 30px;
  }
  35% {
    top: calc(47% + 20px);
    left: calc(67% + 22px);
    width: 3px;
    height: 0px;
  }
  100% {
    top: calc(47% + 20px);
    left: calc(67% + 22px);
    width: 3px;
    height: 0px;
  }
}

/* auto-scroll animation */
@layer components {
  .auto-scroll {
    animation: loop-scroll 10s linear infinite;
    /* Default state: animation plays */
    transition: animation-play-state 0.3s ease;
  }

  .auto-scroll:hover {
    /* Pause the animation when hovered */
    animation-play-state: paused;
  }

  @keyframes loop-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-80%);
    }
  }
}

/* flowline design2 line 2 */
.flow2 {
  background: linear-gradient(
    270deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e09a00 94.9%
  );

  animation: flow2-animation 6s infinite;
}

@keyframes flow2-animation {
  0% {
    left: calc(10% + 280px);
  }
  100% {
    left: calc(54.5%);
  }
}

@media (max-width: 1280px) {
  .flow2 {
    animation: flow2-animation-lg 6s infinite;
  }
}

@keyframes flow2-animation-lg {
  0% {
    left: calc(3% + 230px);
  }
  100% {
    left: calc(54.5%);
  }
}

/* flowline design2 line 1 */
@layer components {
  .flow1 {
    background: linear-gradient(
      180deg,
      #af85e3 1.2%,
      #8b94e2 22.17%,
      #6ff2f2 57.97%,
      #68e099 77.02%,
      #68e099 94.9%
    );

    animation: flow1-animation 6s 2s infinite;
  }

  @keyframes flow1-animation {
    0% {
      bottom: 59%;
    }
    75% {
      bottom: 70.7%;
      height: 70px;
    }
    83% {
      bottom: calc(70.5% + 70px);
      height: 0;
    }
    100% {
      bottom: calc(70.5% + 70px);
      height: 0;
    }
  }
}

@layer components {
  /* bottomside curve */
  .flow1curvedown {
    animation: curve1 6s 1s infinite;
  }

  @keyframes curve1 {
    0% {
      border-color: #af85e3;
    }
    10% {
      border-color: #68e099;
    }
    25% {
      border-color: transparent;
    }
    100% {
      border-color: transparent;
    }
  }
}

@layer components {
  /* holderside curve */
  .flow1curveup {
    animation: curve2 6s 4.9s infinite;
  }

  @keyframes curve2 {
    0% {
      border-color: #af85e3;
    }
    30% {
      border-color: #af85e3;
    }
    40% {
      border-color: transparent;
    }
    100% {
      border-color: transparent;
    }
  }
}

/* flowline design2 line 3 */
@layer components {
  .flow3 {
    background: linear-gradient(
      360deg,
      #af85e3 1.2%,
      #8b94e2 22.17%,
      #6ff2f2 57.97%,
      #68e099 77.02%,
      #68e099 94.9%
    );

    animation: flow3-animation 6s 1.5s infinite;
  }

  @keyframes flow3-animation {
    0% {
      bottom: 34%;
    }
    75% {
      bottom: 22.5%;
      height: 70px;
    }
    83% {
      bottom: calc(22.5%);
      height: 0;
    }
    100% {
      bottom: calc(22.5%);
      height: 0;
    }
  }
}

@layer components {
  .flow3curveup {
    animation: curve-1 6s 1s infinite;
  }

  @keyframes curve-1 {
    0% {
      border-color: #af85e3;
    }
    10% {
      border-color: #68e099;
    }
    25% {
      border-color: transparent;
    }
    100% {
      border-color: transparent;
    }
  }
}

@layer components {
  .flow3curvedown {
    animation: curve-2 6s 4.9s infinite;
  }

  @keyframes curve-2 {
    0% {
      border-color: #af85e3;
    }
    10% {
      border-color: #af85e3;
    }
    40% {
      border-color: transparent;
    }
    100% {
      border-color: transparent;
    }
  }
}

/* mobile design */
.flow-m-rtol {
  background: linear-gradient(
    90deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );

  animation: flow-rtol 10s infinite;
}

@keyframes flow-rtol {
  0% {
    right: calc(50% + 90px);
  }
  50% {
    right: calc(97% - 100px);
    width: 60px;
  }
  51% {
    right: calc(97% - 40px);
    width: 0px;
  }
  100% {
    right: calc(97% - 40px);
    width: 0px;
  }
}

@media (max-width: 500px) {
  .flow-m-rtol {
    animation: flow-rtol-sm 10s infinite;
  }
}

@keyframes flow-rtol-sm {
  0% {
    right: calc(50% + 90px);
    width: 0px;
  }
  49% {
    right: calc(50% + 90px);
    width: 0px;
  }
  50% {
    right: calc(97% - 100px);
    width: 30px;
  }
  51% {
    right: calc(97% - 40px);
    width: 0px;
  }
  100% {
    right: calc(97% - 40px);
    width: 0px;
  }
}

.flow-m-ltor {
  background: linear-gradient(
    270deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );

  animation: flow-ltor 6s 1.5s infinite;
}

@keyframes flow-ltor {
  0% {
    left: calc(50% + 90px);
  }
  50% {
    left: calc(97% - 100px);
    width: 60px;
  }
  51% {
    left: calc(97% - 40px);
    width: 0px;
  }
  100% {
    left: calc(97% - 40px);
    width: 0px;
  }
}

@media (max-width: 500px) {
  .flow-m-ltor {
    animation: flow-ltor-sm 10s infinite;
  }
}

@keyframes flow-ltor-sm {
  0% {
    left: calc(50% + 90px);
    width: 0px;
  }
  49% {
    left: calc(50% + 90px);
    width: 0px;
  }
  50% {
    left: calc(97% - 100px);
    width: 30px;
  }
  51% {
    left: calc(97% - 40px);
    width: 0px;
  }
  100% {
    left: calc(97% - 40px);
    width: 0px;
  }
}

.curve-m1 {
  animation: curve-m1 10s infinite;
}

@keyframes curve-m1 {
  0% {
    border-color: transparent;
  }
  40% {
    border-color: transparent;
  }
  45% {
    border-color: #af85e3;
  }
  55% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}

.curve-m2 {
  animation: curve-m2 10s infinite;
}

@keyframes curve-m2 {
  0% {
    border-color: transparent;
  }
  40% {
    border-color: transparent;
  }
  45% {
    border-color: #af85e3;
  }
  55% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}

.flow-m-lttob {
  background: linear-gradient(
    360deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );

  animation: flow-lttob 10s infinite;
}

@keyframes flow-lttob {
  0% {
    top: calc(9% + 50px);
    height: 0;
  }
  47% {
    top: calc(9% + 50px);
    height: 0;
  }
  50% {
    top: calc(9% + 50px);
    height: 60px;
  }
  80% {
    top: calc(89% - 100px);
    height: 60px;
  }
  83% {
    top: calc(89% - 40px);
    height: 0px;
  }
  100% {
    top: calc(89% - 40px);
    height: 0px;
  }
}

.curve-m3 {
  animation: curve-m3 10s infinite;
}

@keyframes curve-m3 {
  0% {
    border-color: transparent;
  }
  75% {
    border-color: transparent;
  }
  80% {
    border-color: #af85e3;
  }
  95% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}

.curve-m4 {
  animation: curve-m4 10s infinite;
}

@keyframes curve-m4 {
  0% {
    border-color: transparent;
  }
  75% {
    border-color: transparent;
  }
  80% {
    border-color: #af85e3;
  }
  95% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}

.flow-m-bltor {
  background: linear-gradient(
    270deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );
  animation: flow-bltor 10s infinite;
}

@keyframes flow-bltor {
  0% {
    left: calc(3% + 20px);
    width: 0;
  }
  86% {
    left: calc(3% + 20px);
    width: 0;
  }
  88% {
    left: calc(3% + 20px);
    width: 60px;
  }
  100% {
    left: 20%;
  }
}

.flow-m-brtol {
  background: linear-gradient(
    270deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );
  animation: flow-brtol 10s infinite;
}

@keyframes flow-brtol {
  0% {
    right: calc(3% + 20px);
    width: 0;
  }
  86% {
    right: calc(3% + 20px);
    width: 0;
  }
  88% {
    right: calc(3% + 20px);
    width: 60px;
  }
  100% {
    right: 20%;
  }
}

.m1 {
  background: linear-gradient(
    270deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );
  animation: m1 10s infinite;
}

@keyframes m1 {
  0% {
    left: 3%;
    width: 0px;
  }
  55% {
    left: 3%;
    width: 0px;
  }
  56% {
    left: 3%;
    width: 60px;
  }
  100% {
    left: 30%;
  }
}

.m3 {
  background: linear-gradient(
    270deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );
  animation: m3 10s infinite;
}

@keyframes m3 {
  0% {
    left: 3%;
    width: 0px;
  }
  60% {
    left: 3%;
    width: 0px;
  }
  61% {
    left: 3%;
    width: 60px;
  }
  100% {
    left: 30%;
  }
}

.m2 {
  background: linear-gradient(
    90deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );
  animation: m2 10s infinite;
}

@keyframes m2 {
  0% {
    right: 3%;
    width: 0px;
  }
  55% {
    right: 3%;
    width: 0px;
  }
  56% {
    right: 3%;
    width: 60px;
  }
  100% {
    right: 30%;
  }
}

.m4 {
  background: linear-gradient(
    90deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );
  animation: m4 10s infinite;
}

@keyframes m4 {
  0% {
    right: 3%;
    width: 0px;
  }
  60% {
    right: 3%;
    width: 0px;
  }
  61% {
    right: 3%;
    width: 60px;
  }
  100% {
    right: 30%;
  }
}

/* footer line animation */
/* footer-line-top to bottom of top */
.footer-line-1 {
  background: linear-gradient(
    180deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );
  animation: move1 3s infinite;
}

@keyframes move1 {
  0% {
    top: calc(0% + 140px);
  }
  100% {
    top: calc(0% - 40px);
  }
}

@media (max-width: 900px) {
  .footer-line-1 {
    animation: move1atmd 3s infinite;
  }
}

@keyframes move1atmd {
  0% {
    top: calc(0% + 120px);
  }
  100% {
    top: calc(0% - 40px);
  }
}

@media (max-width: 768px) {
  .footer-line-1 {
    animation: move1atmd 3s infinite;
  }
}

@keyframes move1atmd {
  0% {
    top: calc(0% + 60px);
  }
  100% {
    top: calc(0% - 40px);
  }
}

/* footer-line-bottom to top of top */
.footer-line-2 {
  background: linear-gradient(
    180deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );
  animation: move2 3s infinite;
}

@keyframes move2 {
  0% {
    top: calc(0% - 40px);
  }
  90% {
    top: calc(0% + 140px);
    height: 40px;
  }
  100% {
    top: calc(0% + 180px);
    height: 0px;
  }
}

@media (max-width: 900px) {
  .footer-line-2 {
    animation: move2atmd 3s infinite;
  }
}

@keyframes move2atmd {
  0% {
    top: calc(0% - 40px);
  }
  90% {
    top: calc(0% + 120px);
    height: 40px;
  }
  100% {
    top: calc(0% + 160px);
    height: 0px;
  }
}

@media (max-width: 768px) {
  .footer-line-2 {
    animation: move2atmd 3s infinite;
  }
}

@keyframes move2atmd {
  0% {
    top: calc(0% - 40px);
  }
  90% {
    top: calc(0% + 60px);
    height: 40px;
  }
  100% {
    top: calc(0% + 100px);
    height: 0px;
  }
}

@media (max-width: 500px) {
  .footer-line-2 {
    animation: move2atmd 3s infinite;
  }
}

@keyframes move2atmd {
  0% {
    top: calc(0% - 30px);
  }
  90% {
    top: calc(0% + 60px);
    height: 30px;
  }
  100% {
    top: calc(0% + 90px);
    height: 0px;
  }
}

/* footer line of side left */
.footer-line-3 {
  background: linear-gradient(
    90deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );
  animation: move3 3s infinite;
}

@keyframes move3 {
  0% {
    left: 140px;
  }
  90% {
    left: calc(0%);
    width: 40px;
  }
  100% {
    left: calc(0%-40px);
    width: 0px;
  }
}

@media (max-width: 900px) {
  .footer-line-3 {
    animation: move3atbw 3s infinite;
  }
}

@keyframes move3atbw {
  0% {
    left: 120px;
  }
  90% {
    left: calc(0%);
    width: 40px;
  }
  100% {
    left: calc(0%-40px);
    width: 0px;
  }
}

@media (max-width: 768px) {
  .footer-line-3 {
    animation: move3atmd 3s infinite;
  }
}

@keyframes move3atmd {
  0% {
    left: 60px;
  }
  90% {
    left: calc(0%);
    width: 40px;
  }
  100% {
    left: calc(0%-40px);
    width: 0px;
  }
}

@media (max-width: 500px) {
  .footer-line-3 {
    animation: move3atxs 3s infinite;
  }
}

@keyframes move3atxs {
  0% {
    left: 30px;
  }
  90% {
    left: calc(0%);
    width: 30px;
  }
  100% {
    left: calc(0%-30px);
    width: 0px;
  }
}

/* footer line of side right */
.footer-line-4 {
  background: linear-gradient(
    90deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );
  animation: move4 3s infinite;
}

@keyframes move4 {
  0% {
    right: calc(-40px);
  }
  90% {
    right: calc(140px);
    width: 40px;
  }
  100% {
    right: calc(0% + 180px);
    width: 0px;
  }
}

@media (max-width: 900px) {
  .footer-line-4 {
    animation: move4atbw 3s infinite;
  }
}

@keyframes move4atbw {
  0% {
    right: calc(-40px);
  }
  90% {
    right: calc(120px);
    width: 40px;
  }
  100% {
    right: calc(0% + 160px);
    width: 0px;
  }
}

@media (max-width: 768px) {
  .footer-line-4 {
    animation: move4atmd 3s infinite;
  }
}

@keyframes move4atmd {
  0% {
    right: calc(-40px);
  }
  90% {
    right: 60px;
    width: 40px;
  }
  100% {
    right: 100px;
    width: 0px;
  }
}

@media (max-width: 500px) {
  .footer-line-4 {
    animation: move4atxs 3s infinite;
  }
}

@keyframes move4atxs {
  0% {
    right: calc(-40px);
  }
  90% {
    right: 30px;
    width: 30px;
  }
  100% {
    right: 60px;
    width: 0px;
  }
}

/* footer-line-top to bottom of bottom */
.footer-line-5 {
  background: linear-gradient(
    180deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );
  animation: move5 3s infinite;
}

@keyframes move5 {
  0% {
    bottom: calc(0% + 140px);
  }
  90% {
    bottom: calc(0%);
    height: 40px;
  }
  100% {
    bottom: calc(0% - 40px);
    height: 0;
  }
}

@media (max-width: 900px) {
  .footer-line-5 {
    animation: move5atbw 3s infinite;
  }
}

@keyframes move5atbw {
  0% {
    bottom: calc(0% + 120px);
  }
  90% {
    bottom: calc(0%);
    height: 40px;
  }
  100% {
    bottom: calc(0% - 40px);
    height: 0px;
  }
}

@media (max-width: 768px) {
  .footer-line-5 {
    animation: move5atmd 3s infinite;
  }
}

@keyframes move5atmd {
  0% {
    bottom: calc(0% + 100px);
  }
  90% {
    bottom: calc(0%);
    height: 40px;
  }
  100% {
    bottom: calc(0% - 40px);
    height: 0px;
  }
}

@media (max-width: 500px) {
  .footer-line-5 {
    animation: move5atxs 3s infinite;
  }
}

@keyframes move5atxs {
  0% {
    bottom: calc(0% + 60px);
  }
  90% {
    bottom: calc(0%);
    height: 30px;
  }
  100% {
    bottom: calc(0% - 30px);
    height: 0px;
  }
}

/* footer-line-bottom to top of bottom */
.footer-line-6 {
  background: linear-gradient(
    180deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%,
    #68e099 94.9%
  );
  animation: move6 3s infinite;
}

@keyframes move6 {
  0% {
    bottom: calc(0%);
  }
  90% {
    bottom: calc(0% + 140px);
    height: 40px;
  }
  100% {
    bottom: calc(0% + 180px);
    height: 0;
  }
}

@media (max-width: 768px) {
  .footer-line-6 {
    animation: move6atmd 3s infinite;
  }
}

@keyframes move6atmd {
  0% {
    bottom: calc(0%);
  }
  90% {
    bottom: calc(0% + 100px);
    height: 40px;
  }
  100% {
    bottom: calc(0% + 140px);
    height: 0px;
  }
}

@media (max-width: 500px) {
  .footer-line-6 {
    animation: move6atxs 3s infinite;
  }
}

@keyframes move6atxs {
  0% {
    bottom: calc(0%);
  }
  90% {
    bottom: calc(0% + 60px);
    height: 30px;
  }
  100% {
    bottom: calc(0% + 90px);
    height: 0px;
  }
}

/* navbar line hover animation */
.hover-effect {
  position: relative;
  display: inline-block;
}

.hover-effect::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px; /* Thickness of the underline */
  background: linear-gradient(
    90deg,
    #af85e3 1.2%,
    #8b94e2 22.17%,
    #6ff2f2 57.97%,
    #68e099 77.02%
  );
  transition: all 0.2s ease-out;
  transform: translateX(-50%); /* Start from center */
}

.hover-effect:hover::after {
  width: 100%; /* Expand to full width */
}

/* home section button hover animation */
@layer components {
  .right-arrow {
    display: inline-block; /* Ensures the element takes space */
    animation: slide-in-left 0.5s forwards; /* Animation triggers when hovered */
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-10px); /* Start off-screen */
    }
    100% {
      transform: translateX(0); /* Slide into position */
    }
  }
}

/*footer text  */
.parent-div {
  background: linear-gradient(
    267.72deg,
    #af85e3 -8.75%,
    #8b94e2 24.5%,
    #6ff2f2 65.76%,
    #68e099 108.31%
  );
}

.footer-text {
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  margin: 0;
  position: relative;
  color: #0a0b1b;
  background: #000612;
}

.footer-text::before {
  content: attr(data-text);
  position: absolute;
  background: linear-gradient(
    267.72deg,
    #af85e3 -8.75%,
    #8b94e2 24.5%,
    #6ff2f2 65.76%,
    #68e099 108.31%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  clip-path: ellipse(280px 134px at -20% 50%);
  animation: swing-large 8s infinite;
  animation-direction: alternate;
  pointer-events: none;
}

@keyframes swing-large {
  0% {
    -webkit-clip-path: ellipse(280px 134px at -10% 50%);
    clip-path: ellipse(280px 134px at -5% 50%);
  }
  100% {
    -webkit-clip-path: ellipse(280px 134px at 110.62% 50%);
    clip-path: ellipse(280px 134px at 105.62% 50%);
  }
}

@media (max-width: 768px) {
  .footer-text::before {
    clip-path: ellipse(180px 134px at -20% 50%);
    animation: swing-medium 8s infinite;
    animation-direction: alternate;
  }
}

@keyframes swing-medium {
  0% {
    -webkit-clip-path: ellipse(180px 134px at -10% 50%);
    clip-path: ellipse(180px 134px at -5% 50%);
  }
  100% {
    -webkit-clip-path: ellipse(180px 134px at 110.62% 50%);
    clip-path: ellipse(180px 134px at 105.62% 50%);
  }
}

@media (max-width: 500px) {
  .footer-text::before {
    clip-path: ellipse(50px 54px at -30% 50%);
    animation: swing-small 8s infinite;
    animation-direction: alternate;
  }
}

@keyframes swing-small {
  0% {
    -webkit-clip-path: ellipse(50px 54px at -30% 50%);
    clip-path: ellipse(50px 54px at -5% 50%);
  }
  100% {
    -webkit-clip-path: ellipse(50px 54px at 140.62% 50%);
    clip-path: ellipse(50px 54px at 105.62% 50%);
  }
}
